ul, li {
    margin:0;
    padding:0;
}
ul li {
    list-style: none;
    }

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    align-content:center;
    width:50%;
    margin:auto;

}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

    /* When moving the mouse over the close button */
    .closebtn:hover {
        color: black;
    }

.boton_personalizado {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
    width: auto;    
}

    .boton_personalizado:hover {
        color: #1883ba;
        background-color: #ffffff;
    }

/*Boton del links de la master*/
.linkMaster {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* Rounded Corner */
.TexboxRounded {
    border: 2px solid #456879;
    border-radius: 7px;
    height: 25px;
    width: 230px;
}

.error {
    border: 1px solid #ff0000;    
    border-radius: 7px;
    height: 25px;
    width: 230px;
}

/*/grid*/
.main{
    display:grid;
    grid-gap:10px;
    grid-template-areas:
        "header"
        "columna1"
        "columna2"
        "columna3"
}

@media (min-widht: 500px)
{
    main {
        grid-template-areas: 
            "header header header"
            "columna1 columna2 columna3"
    }
}

header{
    grid-area:header;
}

columna1 {
    grid-area: columna1;
}

columna2 {
    grid-area: columna2;
}

columna3 {
    grid-area: columna3;
}

