ul, li {
    margin:0;
    padding:0;
}
ul li {
    list-style: none;
    }

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    align-content:center;
    width:50%;
    margin:auto;

}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

    /* When moving the mouse over the close button */
    .closebtn:hover {
        color: black;
    }

.boton_personalizado {
    font-family: 'arial black';
    color: #FFFFFF !important;
    font-size: 14px;
    text-shadow: 0px 0px 10px #7A3A3C;
    box-shadow: 1px 1px 1px #7A3A3C;
    padding: 10px 25px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    border: 2px groove #000000;
    background: #F17376;
    background: linear-gradient(top, #F17376, #A64F51);
    background: -ms-linear-gradient(top, #F17376, #A64F51);
    background: -webkit-gradient(linear, left top, left bottom, from(#F17376), to(#A64F51));
    background: -moz-linear-gradient(top, #F17376, #A64F51);
}

    .boton_personalizado:hover {
        color: #FFFFFF !important;
        background: #F17376;
        background: linear-gradient(top, #C25C5F, #8F4446);
        background: -ms-linear-gradient(top, #C25C5F, #8F4446);
        background: -webkit-gradient(linear, left top, left bottom, from(#C25C5F), to(#8F4446));
        background: -moz-linear-gradient(top, #C25C5F, #8F4446);
    }

/*Boton del links de la master*/
.linkMaster {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* Rounded Corner */
.TexboxRounded {
    border: 2px solid #456879;
    border-radius: 7px;
    height: 25px;
    width: 230px;
}

.error {
    border: 2px solid #ff0000;    
}

/*/grid*/
.main{
    display:grid;
    grid-gap:10px;
    grid-template-areas:
        "header"
        "columna1"
        "columna2"
        "columna3"
}

@media (min-widht: 500px)
{
    main {
        grid-template-areas: 
            "header header header"
            "columna1 columna2 columna3"
    }
}

header{
    grid-area:header;
}

columna1 {
    grid-area: columna1;
}

columna2 {
    grid-area: columna2;
}

columna3 {
    grid-area: columna3;
}
.DeleteButton {
    font-family: 'arial black';
    color: #EDEDED !important;
    font-size: 14px;
    box-shadow: 1px 1px 10px #A10D0D;
    padding: 5px 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #000000;
    background: #E60505;
}

.DeleteButton:hover {
    color: #FFFFFF !important;
    background: #9C0B0B;
}

.UpdateButton {
    font-family: 'arial black';
    color: #FFFFFF !important;
    font-size: 14px;
    box-shadow: 0px 0px 10px #BEE2F9;
    padding: 5px 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #000000;
    background: #63B8EE;
    background: linear-gradient(top, #63B8EE, #468CCF);
    background: -ms-linear-gradient(top, #63B8EE, #468CCF);
    background: -webkit-gradient(linear, left top, left bottom, from(#63B8EE), to(#468CCF));
    background: -moz-linear-gradient(top, #63B8EE, #468CCF);
}

.UpdateButton:hover {
    color: #F5F5FF !important;
    background: #468CCF;
    background: linear-gradient(top, #468CCF, #63B8EE);
    background: -ms-linear-gradient(top, #468CCF, #63B8EE);
    background: -webkit-gradient(linear, left top, left bottom, from(#468CCF), to(#63B8EE));
    background: -moz-linear-gradient(top, #468CCF, #63B8EE);
}


.table-responsive {
    background: rgba(0,0,0,0.2);

    color: #fff !important;
}
.table-responsive-vehiculo{
    background: rgba(0,0,0,0.2);
    margin: auto;
    color: #fff !important;
}

nomargin {
    margin: 0;
    background: rgba(0,0,0,0.2);
}

.label-default-subTitle {
    color: white;
    font-weight: bold;
}

.margin-general {
    margin: 20px;
}

.Estado {
    margin:36px;
    border:0;
    padding:0;
}


.boton_personalizado-home {
    font-family: 'arial black';
    color: #FFFFFF !important;
    font-size: 14px;
    text-shadow: 0px 0px 10px #7A3A3C;
    box-shadow: 1px 1px 1px #7A3A3C;
    padding: 10px 25px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    border: 2px groove #000000;
    background: #F17376;
    background: linear-gradient(top, #F17376, #A64F51);
    background: -ms-linear-gradient(top, #F17376, #A64F51);
    background: -webkit-gradient(linear, left top, left bottom, from(#F17376), to(#A64F51));
    background: -moz-linear-gradient(top, #F17376, #A64F51);
    width:auto;
    height:auto;        
}

    .boton_personalizado-home:hover {
        color: #FFFFFF !important;
        background: #F17376;
        background: linear-gradient(top, #C25C5F, #8F4446);
        background: -ms-linear-gradient(top, #C25C5F, #8F4446);
        background: -webkit-gradient(linear, left top, left bottom, from(#C25C5F), to(#8F4446));
        background: -moz-linear-gradient(top, #C25C5F, #8F4446);
    }

.font-black {
    text-decoration-color: black;
}

.font-Green {
    color: #008000;
}

.font-Red {
    color: red;
}

.font-Yellow {
    color: #ffd900;
}

.not-allowed{
    cursor: not-allowed;
}

.center {
    text-align: center; 
}

.noMargin{
    margin:0;
}

.roundedCorner{
    border-radius:7px 14px;
}

.divPreguntas {
    background: rgba(0,0,0,0.2);
    border:solid 1px;
}

.pregunta {
    color: #000000;
    font-size:larger;
}

.respuesta {
    color: white;   
    font-size: larger;
}